<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="webs">
    </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="candyBoxPriceList.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
